*{
    text-align: center;
    color:lab(2.8% 0.27 0.09);
    font-weight: 600;
}
ol li{
    text-align: center;
    list-style-position: inside;
    font-weight: 700;
}
ul li{
    font-weight:400 ;
}
.centered-table{
    text-align: center;
}
caption{
    font-weight: 600;
    text-decoration: underline;
}
html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
body{
     background-color:rgba(248, 242, 242, 0.5);
    background-image: url(photoo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-blend-mode:screen;
}
@media (min-width:769px){
    body{
        background-attachment: fixed;
    }
}